@page
@model CineVerify.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<!-- Questa pagina è principalmente per l'elaborazione del POST, il contenuto non verrà visualizzato -->
<h1>@ViewData["Title"]</h1>
<p>Hai eseguito il logout correttamente.</p>